<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renyuwo.alamp.dao.WorkOrderDao">
	<resultMap id="BaseResultMap" type="com.renyuwo.alamp.entity.WorkOrder">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="companyName" jdbcType="VARCHAR" property="companyName" />
		<result column="logisticProviderID" jdbcType="VARCHAR" property="logisticProviderID" />
		<result column="txLogisticID" jdbcType="VARCHAR" property="txLogisticID" />
		<result column="tradeNo" jdbcType="VARCHAR" property="tradeNo" />
		<result column="mailNo" jdbcType="VARCHAR" property="mailNo" />
		<result column="sname" jdbcType="VARCHAR" property="sname" />
		<result column="spostCode" jdbcType="VARCHAR" property="spostCode" />
		<result column="sphone" jdbcType="VARCHAR" property="sphone" />
		<result column="smobile" jdbcType="VARCHAR" property="smobile" />
		<result column="sprov" jdbcType="VARCHAR" property="sprov" />
		<result column="scity" jdbcType="VARCHAR" property="scity" />
		<result column="scountry" jdbcType="VARCHAR" property="scountry" />
		<result column="saddress" jdbcType="VARCHAR" property="saddress" />
		<result column="rname" jdbcType="VARCHAR" property="rname" />
		<result column="rpostCode" jdbcType="VARCHAR" property="rpostCode" />
		<result column="rphone" jdbcType="VARCHAR" property="rphone" />
		<result column="rmobile" jdbcType="VARCHAR" property="rmobile" />
		<result column="rprov" jdbcType="VARCHAR" property="rprov" />
		<result column="rcity" jdbcType="VARCHAR" property="rcity" />
		<result column="rcountry" jdbcType="VARCHAR" property="rcountry" />
		<result column="raddress" jdbcType="VARCHAR" property="raddress" />
		<result column="sendStartTime" jdbcType="VARCHAR" property="sendStartTime" />
		<result column="sendEndTime" jdbcType="VARCHAR" property="sendEndTime" />
		<result column="goodsValue" jdbcType="DOUBLE" property="goodsValue" />
		<result column="totalValue" jdbcType="DOUBLE" property="totalValue" />
		<result column="agencyFund" jdbcType="DOUBLE" property="agencyFund" />
		<result column="itemsValue" jdbcType="DOUBLE" property="itemsValue" />
		<result column="itemsWeight" jdbcType="DOUBLE" property="itemsWeight" />
		<result column="itemName" jdbcType="VARCHAR" property="itemName" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="itemValue" jdbcType="DOUBLE" property="itemValue" />
		<result column="special" jdbcType="INTEGER" property="special" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="insuranceValue" jdbcType="DOUBLE" property="insuranceValue" />
		<result column="totalServiceFee" jdbcType="DOUBLE" property="totalServiceFee" />
		<result column="codSplitFee" jdbcType="DOUBLE" property="codSplitFee" />
		<result column="reciveTime" jdbcType="VARCHAR" property="reciveTime" />
		<result column="upTime" jdbcType="VARCHAR" property="upTime" />
		<result column="upStatus" jdbcType="INTEGER" property="upStatus" />
		<result column="upError" jdbcType="VARCHAR" property="upError" />
		<result column="shortAddress" jdbcType="VARCHAR" property="shortAddress" />
		<result column="consigneeBranchCode" jdbcType="VARCHAR" property="consigneeBranchCode" />
		<result column="packageCenterCode" jdbcType="VARCHAR" property="packageCenterCode" />
		<result column="packageCenterName" jdbcType="VARCHAR" property="packageCenterName" />
		<result column="printStatus" jdbcType="INTEGER" property="printStatus" />
	</resultMap>

	<select id="selectWorkOrderForUp" parameterType="map" resultMap="BaseResultMap">
		select * from WorkOrder where upStatus = #{upStatus,jdbcType=INTEGER}
		limit #{startsize,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
	</select>

	<select id="selectWorkOrderByCustCode" parameterType="map" resultMap="BaseResultMap">
		select * from WorkOrder where txLogisticID = #{custCode,jdbcType=VARCHAR}
		limit 1,1
	</select>
	
	<insert id="insertWorkOrder" parameterType="map">
		insert into WorkOrder
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="workOrder.id != null">
				id,
			</if>
			<if test="workOrder.companyName!= null">
				companyName,
			</if>
			<if test="workOrder.logisticProviderID != null">
				logisticProviderID,
			</if>
			<if test="workOrder.txLogisticID != null">
				txLogisticID,
			</if>
			<if test="workOrder.tradeNo != null">
				tradeNo,
			</if>
			<if test="workOrder.mailNo != null">
				mailNo,
			</if>		
			<if test="workOrder.sname != null">
				sname,
			</if>
			<if test="workOrder.spostCode != null">
				spostCode,
			</if>
			<if test="workOrder.sphone != null">
				sphone,
			</if>
			<if test="workOrder.smobile != null">
				smobile,
			</if>
			<if test="workOrder.sprov != null">
				sprov,
			</if>
			<if test="workOrder.scity != null">
				scity,
			</if>
			<if test="workOrder.scountry != null">
				scountry,
			</if>
			<if test="workOrder.saddress != null">
				saddress,
			</if>
			
			<if test="workOrder.rname != null">
				rname,
			</if>
			<if test="workOrder.rpostCode != null">
				rpostCode,
			</if>
			<if test="workOrder.rphone != null">
				rphone,
			</if>
			<if test="workOrder.rmobile != null">
				rmobile,
			</if>
			<if test="workOrder.rprov != null">
				rprov,
			</if>
			<if test="workOrder.rcity != null">
				rcity,
			</if>
			<if test="workOrder.rcountry != null">
				rcountry,
			</if>
			<if test="workOrder.raddress != null">
				raddress,
			</if>
			
			<if test="workOrder.sendStartTime != null">
				sendStartTime,
			</if>
			<if test="workOrder.sendEndTime != null">
				sendEndTime,
			</if>
			<if test="workOrder.goodsValue != null">
				goodsValue,
			</if>
			<if test="workOrder.totalValue != null">
				totalValue,
			</if>
			<if test="workOrder.agencyFund != null">
				agencyFund,
			</if>
			<if test="workOrder.itemsValue != null">
				itemsValue,
			</if>
			<if test="workOrder.itemsWeight != null">
				itemsWeight,
			</if>
			<if test="workOrder.itemName != null">
				itemName,
			</if>
			<if test="workOrder.number != null">
				number,
			</if>
			<if test="workOrder.itemValue != null">
				itemValue,
			</if>
			<if test="workOrder.special != null">
				special,
			</if>
			<if test="workOrder.remark != null">
				remark,
			</if>
			<if test="workOrder.insuranceValue != null">
				insuranceValue,
			</if>
			<if test="workOrder.totalServiceFee != null">
				totalServiceFee,
			</if>
			<if test="workOrder.codSplitFee != null">
				codSplitFee,
			</if>
			<if test="workOrder.reciveTime != null">
				reciveTime,
			</if>
			<if test="workOrder.upTime != null">
				upTime,
			</if>
			<if test="workOrder.upStatus != null">
				upStatus,
			</if>
			<if test="workOrder.upError != null">
				upError,
			</if>
			
			<if test="workOrder.shortAddress != null">
				shortAddress,
			</if>
			<if test="workOrder.consigneeBranchCode != null">
				consigneeBranchCode,
			</if>
			<if test="workOrder.packageCenterCode != null">
				packageCenterCode,
			</if>
			<if test="workOrder.packageCenterName != null">
				packageCenterName,
			</if>
			
			<if test="workOrder.printStatus != null">
				printStatus,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="workOrder.id != null">
				#{workOrder.id,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.companyName!= null">
				#{workOrder.companyName,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.logisticProviderID != null">
				#{workOrder.logisticProviderID,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.txLogisticID != null">
				#{workOrder.txLogisticID,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.tradeNo != null">
				#{workOrder.tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.mailNo != null">
				#{workOrder.mailNo,jdbcType=VARCHAR},
			</if>			
			<if test="workOrder.sname != null">
				#{workOrder.sname,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.spostCode != null">
				#{workOrder.spostCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sphone != null">
				#{workOrder.sphone,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.smobile != null">
				#{workOrder.smobile,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sprov != null">
				#{workOrder.sprov,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.scity != null">
				#{workOrder.scity,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.scountry != null">
				#{workOrder.scountry,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.saddress != null">
				#{workOrder.saddress,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.rname != null">
				#{workOrder.rname,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rpostCode != null">
				#{workOrder.rpostCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rphone != null">
				#{workOrder.rphone,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rmobile != null">
				#{workOrder.rmobile,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rprov != null">
				#{workOrder.rprov,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rcity != null">
				#{workOrder.rcity,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rcountry != null">
				#{workOrder.rcountry,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.raddress != null">
				#{workOrder.raddress,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.sendStartTime != null">
				#{workOrder.sendStartTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sendEndTime != null">
				#{workOrder.sendEndTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.goodsValue != null">
				#{workOrder.goodsValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.totalValue != null">
				#{workOrder.totalValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.agencyFund != null">
				#{workOrder.agencyFund,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemsValue != null">
				#{workOrder.itemsValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemsWeight != null">
				#{workOrder.itemsWeight,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemName != null">
				#{workOrder.itemName,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.number != null">
				#{workOrder.number,jdbcType=INTEGER},
			</if>
			<if test="workOrder.itemValue != null">
				#{workOrder.itemValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.special != null">
				#{workOrder.special,jdbcType=INTEGER},
			</if>
			<if test="workOrder.remark != null">
				#{workOrder.remark,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.insuranceValue != null">
				#{workOrder.insuranceValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.totalServiceFee != null">
				#{workOrder.totalServiceFee,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.codSplitFee != null">
				#{workOrder.codSplitFee,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.reciveTime != null">
				#{workOrder.reciveTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.upTime != null">
				#{workOrder.upTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.upStatus != null">
				#{workOrder.upStatus,jdbcType=INTEGER},
			</if>
			<if test="workOrder.upError != null">
				#{workOrder.upError,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.shortAddress != null">
				#{workOrder.shortAddress,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.consigneeBranchCode != null">
				#{workOrder.consigneeBranchCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.packageCenterCode != null">
				#{workOrder.packageCenterCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.packageCenterName != null">
				#{workOrder.packageCenterName,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.printStatus != null">
				#{workOrder.printStatus,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateWorkOrder" parameterType="map">
		update WorkOrder
		<set>
			<if test="workOrder.id != null">
				id = #{workOrder.id,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.companyName!= null">
				companyName = #{workOrder.companyName,jdbcType=VARCHAR},
			</if>

			<if test="workOrder.logisticProviderID != null">
				logisticProviderID = #{workOrder.logisticProviderID,jdbcType=VARCHAR},
			</if>

			<if test="workOrder.txLogisticID != null">
				txLogisticID = #{workOrder.txLogisticID,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.tradeNo != null">
				tradeNo = #{workOrder.tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.mailNo != null">
				mailNo = #{workOrder.mailNo,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sname != null">
				sname = #{workOrder.sname,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.spostCode != null">
				spostCode = #{workOrder.spostCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sphone != null">
				sphone = #{workOrder.sphone,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.smobile != null">
				smobile = #{workOrder.smobile,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sprov != null">
				sprov = #{workOrder.sprov,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.scity != null">
				scity = #{workOrder.scity,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.scountry != null">
				scountry = #{workOrder.scountry,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.saddress != null">
				saddress = #{workOrder.saddress,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.rname != null">
				rname = #{workOrder.rname,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rpostCode != null">
				rpostCode = #{workOrder.rpostCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rphone != null">
				rphone = #{workOrder.rphone,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rmobile != null">
				rmobile = #{workOrder.rmobile,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rprov != null">
				rprov = #{workOrder.rprov,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rcity != null">
				rcity = #{workOrder.rcity,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.rcountry != null">
				rcountry = #{workOrder.rcountry,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.raddress != null">
				raddress = #{workOrder.raddress,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.sendStartTime != null">
				sendStartTime = #{workOrder.sendStartTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.sendEndTime != null">
				sendEndTime = #{workOrder.sendEndTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.goodsValue != null">
				goodsValue = #{workOrder.goodsValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.totalValue != null">
				totalValue = #{workOrder.totalValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.agencyFund != null">
				agencyFund = #{workOrder.agencyFund,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemsValue != null">
				itemsValue = #{workOrder.itemsValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemsWeight != null">
				itemsWeight = #{workOrder.itemsWeight,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.itemName != null">
				itemName = #{workOrder.itemName,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.number != null">
				number = #{workOrder.number,jdbcType=INTEGER},
			</if>
			<if test="workOrder.itemValue != null">
				itemValue = #{workOrder.itemValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.special != null">
				special = #{workOrder.special,jdbcType=INTEGER},
			</if>
			<if test="workOrder.remark != null">
				remark = #{workOrder.remark,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.insuranceValue != null">
				insuranceValue = #{workOrder.insuranceValue,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.totalServiceFee != null">
				totalServiceFee = #{workOrder.totalServiceFee,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.codSplitFee != null">
				codSplitFee = #{workOrder.codSplitFee,jdbcType=DOUBLE},
			</if>
			<if test="workOrder.reciveTime != null">
				reciveTime = #{workOrder.reciveTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.upTime != null">
				upTime = #{workOrder.upTime,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.upStatus != null">
				upStatus = #{workOrder.upStatus,jdbcType=INTEGER},
			</if>
			<if test="workOrder.upError != null">
				upError = #{workOrder.upError,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.shortAddress != null">
				shortAddress = #{workOrder.shortAddress,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.consigneeBranchCode != null">
				consigneeBranchCode = #{workOrder.consigneeBranchCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.packageCenterCode != null">
				packageCenterCode = #{workOrder.packageCenterCode,jdbcType=VARCHAR},
			</if>
			<if test="workOrder.packageCenterName != null">
				packageCenterName = #{workOrder.packageCenterName,jdbcType=VARCHAR},
			</if>
			
			<if test="workOrder.printStatus != null">
				printStatus = #{workOrder.printStatus,jdbcType=INTEGER},
			</if>
		</set>
		<if test="workOrderWhere != null">
			<where>
				1=1
				<if test="workOrderWhere.id != null and workOrderWhere.id != ''">
					and id = #{workOrderWhere.id,jdbcType=INTEGER}
				</if>

				<if test="workOrderWhere.companyName!= null">
					and companyName = #{workOrderWhere.companyName,jdbcType=VARCHAR},
				</if>

				<if test="workOrderWhere.logisticProviderID != null">
					and logisticProviderID = #{workOrderWhere.logisticProviderID,jdbcType=VARCHAR},
				</if>

				<if test="workOrderWhere.txLogisticID != null">
					and txLogisticID = #{workOrderWhere.txLogisticID,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.tradeNo != null">
					and tradeNo = #{workOrderWhere.tradeNo,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.mailNo != null">
					and mailNo = #{workOrderWhere.mailNo,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.sname != null">
					and sname = #{workOrderWhere.sname,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.spostCode != null">
					and spostCode = #{workOrderWhere.spostCode,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.sphone != null">
					and sphone = #{workOrderWhere.sphone,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.smobile != null">
					and smobile = #{workOrderWhere.smobile,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.sprov != null">
					and sprov = #{workOrderWhere.sprov,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.scity != null">
					and scity = #{workOrderWhere.scity,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.scountry != null">
					and scountry = #{workOrderWhere.scountry,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.saddress != null">
					and saddress = #{workOrderWhere.saddress,jdbcType=VARCHAR},
				</if>
				
				<if test="workOrderWhere.rname != null">
					and rname = #{workOrderWhere.rname,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rpostCode != null">
					and rpostCode = #{workOrderWhere.rpostCode,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rphone != null">
					and rphone = #{workOrderWhere.rphone,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rmobile != null">
					and rmobile = #{workOrderWhere.rmobile,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rprov != null">
					and rprov = #{workOrderWhere.rprov,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rcity != null">
					and rcity = #{workOrderWhere.rcity,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.rcountry != null">
					and rcountry = #{workOrderWhere.rcountry,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.raddress != null">
					and raddress = #{workOrderWhere.raddress,jdbcType=VARCHAR},
				</if>	
				
				<if test="workOrderWhere.sendStartTime != null">
					and sendStartTime = #{workOrderWhere.sendStartTime,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.sendEndTime != null">
					and sendEndTime = #{workOrderWhere.sendEndTime,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.goodsValue != null">
					and goodsValue = #{workOrderWhere.goodsValue,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.totalValue != null">
					and totalValue = #{workOrderWhere.totalValue,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.agencyFund != null">
					and agencyFund = #{workOrderWhere.agencyFund,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.itemsValue != null">
					and itemsValue = #{workOrderWhere.itemsValue,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.itemsWeight != null">
					and itemsWeight = #{workOrderWhere.itemsWeight,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.itemName != null">
					and itemName = #{workOrderWhere.itemName,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.number != null">
					and number = #{workOrderWhere.number,jdbcType=INTEGER},
				</if>
				<if test="workOrderWhere.itemValue != null">
					and itemValue = #{workOrderWhere.itemValue,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.special != null">
					and special = #{workOrderWhere.special,jdbcType=INTEGER},
				</if>
				<if test="workOrderWhere.remark != null">
					and remark = #{workOrderWhere.remark,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.insuranceValue != null">
					and insuranceValue = #{workOrderWhere.insuranceValue,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.totalServiceFee != null">
					and totalServiceFee = #{workOrderWhere.totalServiceFee,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.codSplitFee != null">
					and codSplitFee = #{workOrderWhere.codSplitFee,jdbcType=DOUBLE},
				</if>
				<if test="workOrderWhere.reciveTime != null">
					and reciveTime = #{workOrderWhere.reciveTime,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.upTime != null">
					and upTime = #{workOrderWhere.upTime,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.upStatus != null">
					and upStatus = #{workOrderWhere.upStatus,jdbcType=INTEGER},
				</if>
				<if test="workOrderWhere.upError != null">
					and upError = #{workOrderWhere.upError,jdbcType=VARCHAR},
				</if>
				
				<if test="workOrderWhere.shortAddress != null">
					and shortAddress = #{workOrderWhere.shortAddress,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.consigneeBranchCode != null">
					and consigneeBranchCode = #{workOrderWhere.consigneeBranchCode,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.packageCenterCode != null">
					and packageCenterCode = #{workOrderWhere.packageCenterCode,jdbcType=VARCHAR},
				</if>
				<if test="workOrderWhere.packageCenterName != null">
					and packageCenterName = #{workOrderWhere.packageCenterName,jdbcType=VARCHAR},
				</if>
				
				<if test="workOrderWhere.printStatus != null">
					and printStatus = #{workOrderWhere.printStatus,jdbcType=INTEGER},
				</if>
			</where>
		</if>
	</update>
	
	<update id="updateWorkOrderByID" parameterType="map">
	update WorkOrder
		<set>
			<if test="updateWorkOrderStatus.txLogisticID != null">
				txLogisticID = #{updateWorkOrderStatus.txLogisticID,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.logisticProviderID != null">
				logisticProviderID = #{updateWorkOrderStatus.logisticProviderID,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.mailNo != null">
				mailNo = #{updateWorkOrderStatus.mailNo,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.shortAddress != null">
				shortAddress = #{updateWorkOrderStatus.shortAddress,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.consigneeBranchCode != null">
				consigneeBranchCode = #{updateWorkOrderStatus.consigneeBranchCode,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.packageCenterCode != null">
				packageCenterCode = #{updateWorkOrderStatus.packageCenterCode,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.packageCenterName != null">
				packageCenterName = #{updateWorkOrderStatus.packageCenterName,jdbcType=VARCHAR},
			</if>
			
			<if test="updateWorkOrderStatus.upTime != null">
				upTime = #{updateWorkOrderStatus.upTime,jdbcType=INTEGER},
			</if>
			
			<if test="updateWorkOrderStatus.upStatus != null">
				upStatus = #{updateWorkOrderStatus.upStatus,jdbcType=INTEGER},
			</if>
		</set>
		<where>
			1=1
			<if test="updateWorkOrderStatus.id != null">
				and id = #{updateWorkOrderStatus.id,jdbcType=INTEGER}
			</if>
		</where>
	</update>
</mapper>